.main-signup main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  height: calc(100% - 70px - 10px); /* header height and margin bottom */
}

.main-signup form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 270px;
}

.main-signup .form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-signup .form-footer .form-group {
 margin-bottom: 0;
}